@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ebebeb;
  --color-card: #ffffff;
  --color-hovercard: #dfdfdf;
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-primary-light: #34d399;
  --color-text: #1a1a1a;
  --color-text-secondary: #4a4a4a;
  --color-border-dark: #e0e0e0;
  --color : #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}

.dark {
  --color-background: #1a1a1a;
  --color-card: #2c2c2c;
  --color-hovercard: #232323;
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-primary-light: #34d399;
  --color-text: #e0e0e0;
  --color-text-secondary: #a0a0a0;
  --color-border-dark: #4a4a4a;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}

/* Skeleton piscando usando a cor --color-text-secondary */
.shine {
  background-color: var(--color-text-secondary);
  border-radius: 0.5rem;
  opacity: 0.5;
  animation: pulseSkeleton 1.5s ease-in-out infinite;
}

@keyframes pulseSkeleton {
  0%, 100% {
    opacity: 0.2; /* mais transparente */
  }
  50% {
    opacity: 0.5; /* fica mais visível no pico */
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

#root {
  height: 100%;
}

/* Estilos para o scrollbar (opcional, mas comum em dark themes) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-card); /* Fundo da trilha */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-secondary); /* Cor da barra de rolagem */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text); /* Cor da barra de rolagem ao passar o mouse */
}
